<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Metrics Generator</title>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
  <body ng-app="metricsGenerator" ng-controller="metricsController">

    <!--div class="scroll-top" ng-click="scrollTop()"></div-->

    <div class="card">
      <div class="card-header">
        <h1 ng-bind="'Metrics Generator'"></h1>
      </div>
      <div class="card-body">
        <div class="row text-center">
          <input type="text" ng-model="owner" placeholder="Owner...">
          <input type="text" ng-model="repo" placeholder="Repository...">
          <button class="btn" ng-click="generateMetrics()"> Get Info </button>
          <div>
            <label for="vsRepo">
              <input type="checkbox" ng-model="vsRepo" id="vsRepo">
                VS
            </label>
          </div>
          <input type="text" ng-model="owner1" placeholder="Owner..." ng-disabled="!vsRepo">
          <input type="text" ng-model="repo1" placeholder="Repository..." ng-disabled="!vsRepo">
        </div>
        <div class="row tab-container">
          <div class="tab-selector" ng-click="selectTab(0)" ng-class="{ 'selected-tab': selectedTab === 0 }">
            <span>Tables</span>
          </div>
          <div class="tab-selector" ng-click="selectTab(1)" ng-class="{ 'selected-tab': selectedTab === 1 }">
            <span>Graphics</span>
          </div>
        </div>
        <div class="tab" ng-show="selectedTab === 0">
          <div class="row" ng-show="users.length > 0">
            <h2 class="card-header" ng-bind="'Users'"></h2>
            <table>
              <tr>
                <th>User</th>
                <th class="link" ng-click="selectField('commits')">Commits</th>
                <th class="link" ng-click="selectField('pulls')">Pull Requests</th>
                <th class="link" ng-click="selectField('issues')">Issues</th>
              </tr>
              <tr ng-repeat="user in users | orderBy:userField:userOrder">
                <td ng-bind="user.name"></td>
                <td ng-bind="user.commits"></td>
                <td ng-bind="user.pulls"></td>
                <td ng-bind="user.issues"></td>
              </tr>
            </table>
          </div>
          <div class="row" ng-show="commits.length > 0">
            <h2 class="card-header" ng-bind="'Commits'"></h2>
            <p class="error" ng-bind="'Error while trying to get commits'" ng-show="commitsError"></p>
            <pagination pagination="pagination.cm" type="cm" paginator="_tempCm"></pagination>
            <table ng-hide="commitsError">
              <tr>
                <th>User</th>
                <th>Message</th>
                <th>Created</th>
                <th>Comments</th>
              </tr>
              <tr ng-repeat="commit in filteredCommits">
                <td ng-bind="'@' + commit.commit.author.name"></td>
                <td ng-bind="commit.commit.message"></td>
                <td ng-bind="commit.created_at"></td>
                <td ng-bind="commit.commit.comment_count"></td>
              </tr>
            </table>
          </div>
          <div class="row" ng-show="pullRequests.length > 0">
            <h2 class="card-header" ng-bind="'Pull Requests'"></h2>
            <p class="error" ng-bind="'Error while trying to get pull requests'" ng-show="pullRequestError"></p>
            <select ng-model="pullState" ng-change="updatePullRequestFilter()">
              <option ng-repeat="state in PR_STATES" ng-click="pullState = state" ng-bind="state" value="{{state}}"></option>
            </select>
            <pagination pagination="pagination.pr" type="pr" paginator="_tempPr"></pagination>
            <pulls source="filteredPullRequests"></pulls>
          </div>
          <div class="row" ng-show="filteredIssues.length > 0">
            <h2 class="card-header" ng-bind="'Issues'"></h2>
            <p class="error" ng-bind="'Error while trying to get issues'" ng-show="issuesError"></p>
            <select ng-model="issueState" ng-change="updateIssueFilter()">
              <option ng-repeat="state in IS_STATES" ng-click="issueState = state" ng-bind="state" value="{{state}}"></option>
            </select>
            <pagination pagination="pagination.is" type="is" paginator="_tempIs"></pagination>
            <issues source="filteredIssues"></issues>
          </div>
        </div>
        <div class="tab" ng-show="selectedTab === 1">
          <div class="row">
            <h2 ng-bind="'Statistics (' + owner + '/' + repo + ')'" class="text-center"></h2>
            <table>
              <tr>
                <th>Summarize by</th>
                <th>Filter</th>
              </tr>
              <tr>
                <td>
                  <div class="radio-item">
                    <label for="authorName">
                      <input type="radio" id="authorName" name="summarize" ng-model="summary.dimension" value="authorName" checked>
                      Author
                    </label>
                  </div>
                  <div class="radio-item">
                    <label for="assignee">
                      <input type="radio" id="assignee" name="summarize" ng-model="summary.dimension" value="assignee" checked>
                      Assignee
                    </label>
                  </div>
                  <div class="radio-item">
                    <label for="closer">
                      <input type="radio" id="closer" name="summarize" ng-model="summary.dimension" value="closer" checked>
                      Closer
                    </label>
                  </div>
                  <div class="radio-item">
                    <label for="hour">
                      <input type="radio" id="hour" name="summarize" ng-model="summary.dimension" value="hour">
                      Hour
                    </label>
                  </div>
                  <div class="radio-item">
                    <label for="day">
                      <input type="radio" id="day" name="summarize" ng-model="summary.dimension" value="day">
                      Day
                    </label>
                  </div>
                  <div class="radio-item">
                    <label for="month">
                      <input type="radio" id="month" name="summarize" ng-model="summary.dimension" value="month">
                      Month
                    </label>
                  </div>
                  <div class="radio-item">
                    <label for="year">
                      <input type="radio" id="year" name="summarize" ng-model="summary.dimension" value="year">
                      Year
                    </label>
                  </div>
                </td>
                <td>
                  <table>
                    <tr>
                      <td class="text-left">
                        <label for="filterByName">
                          <input type="checkbox" id="filterByName" name="filterByName" ng-model="summary.filterByName">
                          User
                        </label>
                      </td>
                      <td>
                        <input type="text" class="p95" placeholder="Username..." ng-model="summary.userFilter" ng-disabled="!summary.filterByName">
                      </td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <label for="filterByRange">
                          <input type="checkbox" id="filterByRange" name="filterByRange" ng-model="summary.filterByRange">
                          Date Range
                        </label>
                      </td>
                      <td>
                        <input type="text" placeholder="dd/mm/yyyy" ng-model="summary.initialDay" ng-disabled="!summary.filterByRange">
                        <strong>to</strong>
                        <input type="text" placeholder="dd/mm/yyyy" ng-model="summary.finalDay" ng-disabled="!summary.filterByRange">
                      </td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <label for="filterByState">
                          <input type="checkbox" id="filterByState" name="filterByState" ng-model="summary.filterByState">
                          State
                        </label>
                      </td>
                      <td>
                        <input type="text" placeholder="State [open, closed]..." ng-model="summary.state" ng-disabled="!summary.filterByState">
                      </td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <label for="filterByAssignee">
                          <input type="checkbox" id="filterByAssignee" name="filterByAssignee" ng-model="summary.filterByAssignee">
                          Assigned to...
                        </label>
                      </td>
                      <td>
                        <input type="text" placeholder="Assigned to..." ng-model="summary.assignee" ng-disabled="!summary.filterByAssignee">
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <ul>
              <li>
                <label for="showCommits">
                  <input type="checkbox" id="showCommits" name="showCommits" ng-model="summary.showGraphics[1]">
                  Commits
                </label>
              </li>
              <li>
                <label for="showPulls">
                  <input type="checkbox" id="showPulls" name="showCommits" ng-model="summary.showGraphics[2]">
                  Pulls
                </label>
              </li>
              <li>
                <label for="showIssues">
                  <input type="checkbox" id="showIssues" name="showCommits" ng-model="summary.showGraphics[3]">
                  Issues
                </label>
              </li>
            </ul>
            <button class="btn" ng-click="getSummary()">Summarize</button>
            <canvas id="olap1" ng-show="summary.olap1"></canvas>
            <canvas id="olap2" ng-show="summary.olap2"></canvas>
            <table>
              <tr>
                <th>User</th>
                <th ng-repeat="(index, label) in labels" ng-bind="label" ng-show="summary.showGraphics[index + 1]"></th>
              </tr>
              <tr ng-repeat="dic in dict">
                <td ng-repeat="(index, d) in dic track by index" ng-show="summary.showGraphics[index]" ng-bind="index==0?d:(d[0] + (vsRepo?' / ' + d[1]:''))"></td>
              </tr>
            </table>
            </div>
        </div>
      </div>
    </div>

  </body>
  <script type="text/javascript" src="js/randomColor.min.js"></script>
  <script type="text/javascript" src="js/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="js/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="js/olap-cube.min.js"></script>
  <script type="text/javascript" src="js/angularjs-1.4.8.js"></script>
  <script type="text/javascript" src="js/ui.js"></script>
  <script type="text/javascript" src="js/main.bundle.js"></script>
</html>