<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Issues</title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body ng-app="metricsGenerator" ng-controller="issuesController">

    <div class="scroll-top" ng-click="scrollTop()"></div>

    <div class="card">
      <div class="card-header">
        <h1 ng-bind="'Issues'"></h1>
        <h4 ng-bind="'There are some problems sometimes with the width of the tables because of the amount of columns. Please, for now, zoom out the page. Thanks'"></h4>
      </div>
      <div class="card-body">
        <div class="row text-center">
          <button ng-click="generateMetrics()" ng-bind="'Get Info'"></button>
        </div>
        <div class="row tab-container">
          <ul>
            <li class="tab-selector" ng-repeat="tab in TABS" ng-click="selectTimeRange(tab.range)" ng-class="{ 'selected-tab': timeRange === tab.range }" ng-bind="tab.content"></li>
          </ul>
        </div>
        <div class="tab" ng-show="timeRange === 'all'">
          <div class="row" ng-show="users.length > 0">
            <h2 class="card-header" ng-bind="'Users'"></h2>
            <table>
              <tr>
                <th ng-bind="'User'"></th>
                <th class="link" ng-click="selectField('issues')" ng-bind="'Issues'"></th>
              </tr>
              <tr ng-repeat="user in users | orderBy:userField:userOrder">
                <td ng-bind="user.name"></td>
                <td ng-bind="user.issues + ' (' + getPercent(user.issues, stats.all) + ')'"></td>
              </tr>
            </table>
          </div>
          <div class="row" ng-show="issues.length > 0">
            <table>
              <tr>
                <th ng-bind="'All'"></th>
                <th ng-bind="'Open'"></th>
                <th ng-bind="'Closed'"></th>
              </tr>
              <tr>
                <td ng-bind="stats.all"></td>
                <td ng-bind="stats.open + ' (' + getPercent(stats.open, stats.all) + ')'"></td>
                <td ng-bind="stats.closed + ' (' + getPercent(stats.closed, stats.all) + ')'"></td>
              </tr>
            </table>
            <select ng-model="issueState" ng-change="updateIssuesFilter()">
              <option ng-repeat="state in ISSUE_STATES" ng-click="issueState = state" ng-bind="state" value="{{state}}"></option>
            </select>
            <ul class="pagination-container">
              <li class="pagination-number" ng-class="{ selected: pos + 1 === pagination }" ng-repeat="(pos, value) in _tempPr track by $index" ng-click="setPage(pos+1)" ng-bind="pos+1"></li>
            </ul>
            <table ng-hide="issuesError">
              <tr>
                <th>State</th>
                <th>#</th>
                <th>User</th>
                <th>Title</th>
                <th>Assignees</th>
                <th>Committers</th>
                <th>Created At</th>
                <th>Assigned</th>
                <th>Commited</th>
                <th>Merged</th>
                <th>Closed</th>
                <th>Labels</th>
                <th>Comments</th>
              </tr>
              <tr ng-repeat="issue in filteredIssues">
                <td ng-bind="issue.state" class="{{issue.state}}"></td>
                <td ng-bind="'#' + issue.number"></td>
                <td ng-bind="'@' + issue.user.login"></td>
                <td ng-bind="issue.title"></td>
                <td>
                  <span class="reviewer" ng-repeat="user in issue.assignees" ng-bind="user.login"></span>
                </td>
                <td>
                  <span class="reviewer" ng-repeat="user in issue.committer" ng-bind="user.login"></span>
                </td>
                <td ng-bind="issue.created_at"></td>
                <td ng-bind="issue.assigned_at"></td>
                <td ng-bind="issue.commited_at"></td>
                <td ng-bind="issue.merged_at"></td>
                <td ng-bind="issue.closed_at"></td>
                <td>
                  <span class="label" ng-repeat="label in issue.labels" ng-bind="label.name" ng-style="{ 'background-color': '#' + label.color, 'color': inverseColor(label.color) }"></span>
                </td>
                <td ng-bind="issue.comments"></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="tab" ng-show="timeRange === 'diario'">
          <div class="row">
            <div class="card" ng-repeat="(day, dayIssues) in timeScaleDay">
              <div class="card-header">
                <h2 ng-bind="formatDay(day)" class="text-center"></h2>
              </div>
              <div class="card-body">
                <div class="row" ng-show="dayIssues.length > 0">
                  <table>
                    <tr>
                      <th>State</th>
                      <th>#</th>
                      <th>User</th>
                      <th>Title</th>
                      <th>Assignees</th>
                      <th>Committers</th>
                      <th>Created At</th>
                      <th>Assigned</th>
                      <th>Commited</th>
                      <th>Merged</th>
                      <th>Closed</th>
                      <th>Labels</th>
                      <th>Comments</th>
                    </tr>
                    <tr ng-repeat="issue in dayIssues">
                      <td ng-bind="issue.state" class="{{issue.state}}"></td>
                      <td ng-bind="'#' + issue.number"></td>
                      <td ng-bind="'@' + issue.user.login"></td>
                      <td ng-bind="issue.title"></td>
                      <td>
                        <span class="reviewer" ng-repeat="user in issue.assignees" ng-bind="user.login"></span>
                      </td>
                      <td>
                        <span class="reviewer" ng-repeat="user in issue.committer" ng-bind="user.login"></span>
                      </td>
                      <td ng-bind="issue.created_at"></td>
                      <td ng-bind="issue.assigned_at"></td>
                      <td ng-bind="issue.commited_at"></td>
                      <td ng-bind="issue.merged_at"></td>
                      <td ng-bind="issue.closed_at"></td>
                      <td>
                        <span class="label" ng-repeat="label in issue.labels" ng-bind="label.name" ng-style="{ 'background-color': '#' + label.color, 'color': inverseColor(label.color) }"></span>
                      </td>
                      <td ng-bind="issue.comments"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab" ng-show="timeRange === 'semanal'">
          <div class="row">
            <div class="card" ng-repeat="(week, weekIssues) in timeScaleWeek">
              <div class="card-header">
                <h2 ng-bind="formatWeek(week)" class="text-center"></h2>
              </div>
              <div class="card-body">
                <div class="row" ng-show="weekIssues.length > 0">
                  <table>
                    <tr>
                      <th>State</th>
                      <th>#</th>
                      <th>User</th>
                      <th>Title</th>
                      <th>Assignees</th>
                      <th>Committers</th>
                      <th>Created At</th>
                      <th>Assigned</th>
                      <th>Commited</th>
                      <th>Merged</th>
                      <th>Closed</th>
                      <th>Labels</th>
                      <th>Comments</th>
                    </tr>
                    <tr ng-repeat="issue in weekIssues">
                      <td ng-bind="issue.state" class="{{issue.state}}"></td>
                      <td ng-bind="'#' + issue.number"></td>
                      <td ng-bind="'@' + issue.user.login"></td>
                      <td ng-bind="issue.title"></td>
                      <td>
                        <span class="reviewer" ng-repeat="user in issue.assignees" ng-bind="user.login"></span>
                      </td>
                      <td>
                        <span class="reviewer" ng-repeat="user in issue.committer" ng-bind="user.login"></span>
                      </td>
                      <td ng-bind="issue.created_at"></td>
                      <td ng-bind="issue.assigned_at"></td>
                      <td ng-bind="issue.commited_at"></td>
                      <td ng-bind="issue.merged_at"></td>
                      <td ng-bind="issue.closed_at"></td>
                      <td>
                        <span class="label" ng-repeat="label in issue.labels" ng-bind="label.name" ng-style="{ 'background-color': '#' + label.color, 'color': inverseColor(label.color) }"></span>
                      </td>
                      <td ng-bind="issue.comments"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab" ng-show="timeRange === 'mensual'">
          <div class="row">
            <div class="card" ng-repeat="(month, monthIssues) in timeScaleMonth">
              <div class="card-header">
                <h2 ng-bind="formatMonth(month)" class="text-center"></h2>
              </div>
              <div class="card-body">
                <div class="row" ng-show="monthIssues.length > 0">
                  <table>
                    <tr>
                      <th>State</th>
                      <th>#</th>
                      <th>User</th>
                      <th>Title</th>
                      <th>Assignees</th>
                      <th>Committers</th>
                      <th>Created At</th>
                      <th>Assigned</th>
                      <th>Commited</th>
                      <th>Merged</th>
                      <th>Closed</th>
                      <th>Labels</th>
                      <th>Comments</th>
                    </tr>
                    <tr ng-repeat="issue in monthIssues">
                      <td ng-bind="issue.state" class="{{issue.state}}"></td>
                      <td ng-bind="'#' + issue.number"></td>
                      <td ng-bind="'@' + issue.user.login"></td>
                      <td ng-bind="issue.title"></td>
                      <td>
                        <span class="reviewer" ng-repeat="user in issue.assignees" ng-bind="user.login"></span>
                      </td>
                      <td>
                        <span class="reviewer" ng-repeat="user in issue.committer" ng-bind="user.login"></span>
                      </td>
                      <td ng-bind="issue.created_at"></td>
                      <td ng-bind="issue.assigned_at"></td>
                      <td ng-bind="issue.commited_at"></td>
                      <td ng-bind="issue.merged_at"></td>
                      <td ng-bind="issue.closed_at"></td>
                      <td>
                        <span class="label" ng-repeat="label in issue.labels" ng-bind="label.name" ng-style="{ 'background-color': '#' + label.color, 'color': inverseColor(label.color) }"></span>
                      </td>
                      <td ng-bind="issue.comments"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <script type="text/javascript" src="js/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="js/angularjs-1.4.8.js"></script>
  <script type="text/javascript" src="js/issues.js"></script>

</html>