<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Pull Requests</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body ng-app="metricsGenerator" ng-controller="pullsController">

    <div class="scroll-top" ng-click="scrollTop()"></div>

    <div class="card">
      <div class="card-header">
        <h1 ng-bind="'Pull Requests'"></h1>
      </div>
      <div class="card-body">
        <div class="row text-center">
          <button ng-click="generateMetrics()" ng-bind="'Get Info'"></button>
        </div>
        <div class="row tab-container">
          <ul>
            <li class="tab-selector" ng-repeat="tab in TABS" ng-click="selectTimeRange(tab.range)" ng-class="{ 'selected-tab': timeRange === tab.range }" ng-bind="tab.content"></li>
          </ul>
        </div>
        <div class="tab" ng-show="timeRange === 'all'">
          <div class="row" ng-show="users.length > 0">
            <h2 class="card-header" ng-bind="'Users'"></h2>
            <table>
              <tr>
                <th ng-bind="'User'"></th>
                <th class="link" ng-click="selectField('pulls')" ng-bind="'Pull Requests'"></th>
              </tr>
              <tr ng-repeat="user in users | orderBy:userField:userOrder">
                <td ng-bind="user.name"></td>
                <td ng-bind="user.pulls + ' (' + user.pullsPercent + '%)'"></td>
              </tr>
            </table>
          </div>
          <div class="row" ng-show="pullRequests.length > 0">
            <h2 class="card-header" ng-bind="'Pull Requests'"></h2>
            <p class="error" ng-bind="'Error while trying to get pull requests'" ng-show="pullRequestError"></p>
            <table>
              <tr>
                <th ng-bind="'All'"></th>
                <th ng-bind="'Open'"></th>
                <th ng-bind="'Closed'"></th>
                <th ng-bind="'Merged'"></th>
              </tr>
              <tr>
                <td ng-bind="stats.pr.all"></td>
                <td ng-bind="stats.pr.open + ' (' + stats.pr.openPercent + '%)'"></td>
                <td ng-bind="stats.pr.closed + ' (' + stats.pr.closedPercent + '%)'"></td>
                <td ng-bind="stats.pr.merged + ' (' + stats.pr.mergedPercent + '%)'"></td>
              </tr>
            </table>
            <select ng-model="pullState" ng-change="updatePullRequestFilter()">
              <option ng-repeat="state in PR_STATES" ng-click="pullState = state" ng-bind="state" value="{{state}}"></option>
            </select>
            <pagination pagination="pagination.pr" type="pr" paginator="_tempPr"></pagination>
            <pulls source="filteredPullRequests"></pulls>
          </div>
        </div>
        <div class="tab" ng-show="timeRange === 'diario'">
          <div class="row">
            <div class="card" ng-repeat="(day, dayPulls) in timeScaleDay">
              <div class="card-header">
                <h2 ng-bind="formatDay(day)" class="text-center"></h2>
              </div>
              <div class="card-body">
                <div class="row" ng-show="dayPulls.length > 0">
                  <pulls source="dayPulls"></pulls>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab" ng-show="timeRange === 'semanal'">
          <div class="row">
            <div class="card" ng-repeat="(week, weekPulls) in timeScaleWeek">
              <div class="card-header">
                <h2 ng-bind="formatWeek(week)" class="text-center"></h2>
              </div>
              <div class="card-body">
                <div class="row" ng-show="weekPulls.length > 0">
                  <pulls source="weekPulls"></pulls>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab" ng-show="timeRange === 'mensual'">
          <div class="row">
            <div class="card" ng-repeat="(month, monthPulls) in timeScaleMonth">
              <div class="card-header">
                <h2 ng-bind="formatMonth(month)" class="text-center"></h2>
              </div>
              <div class="card-body">
                <div class="row" ng-show="monthPulls.length > 0">
                  <pulls source="monthPulls"></pulls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <script type="text/javascript" src="js/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="js/angularjs-1.4.8.js"></script>
  <script type="text/javascript" src="js/ui.js"></script>
  <script type="text/javascript" src="js/pulls.js"></script>

</html>